body {
    font-family: Arial, sans-serif;
    background-color: #f2f7fc;
    margin: 30px;
    text-align: center;
}

h1 {
    color: #003366;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #007BFF;
    color: white;
    padding: 12px;
    text-transform: uppercase;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

img {
    border-radius: 8px;
}